<div class="jumbotron">    
    <div class="container">
        <h1>JACKPOT CHECKER</h1>
        <p>랜덤하게 뽑은 번호 6개와 이번주 로또 번호를 비교해 드립니다.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="result" role="button">결과 보러가기</a>
        </p>
    </div>
</div>